.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 950px);
  align-items: center;
  gap: 20px;
  padding-block: 20px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.header__logo {
  flex: 0 1 auto;
  color: var(--color-light);
}


.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user__avatar {
  color: var(--color-dark-purple);
  display: inline-flex;
  border-radius: 50%;
  background-color: var(--color-component);
  padding: 8px;
}

.user__name {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  color: var(--color-base);
}

.search {
  max-width: 300px;
  flex: 1 0 auto;
  position: relative;
}

.search::after {
  content: "";
  position: absolute;
  width: 13px;
  aspect-ratio: 1;
  background: url("../../assets/search.svg") no-repeat;
  top: 10px;
  left: 7px;
  z-index: 1;
}

.search__input {
  width: 100%;
  padding-inline: 24px;
}

.nav {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

@media (width < 450px) {
  .search {
    max-width: 200px;
  }
}