.item {
  background-color: var(--color-body);
  border-radius: 8px;
}

.market-title {
  margin-bottom: 24px;
}

.info {
  padding: 12px 12px 8px;
}

.img {
  border-radius: 8px 8px 0 0;
}

.name {
  font-size: 12px;
  color: var(--color-light);
  height: 36px;
}

.category {
  font-size: 12px;
  color: var(--color-base);
  margin-bottom: 28px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.people {
  font-size: 10px;
  color: var(--color-base);
}

.money {
  color: var(--color-purple);
}